{% load i18n %}

<!-- header -->

<div class="flex justify-between items-center">
    <div class="space-y-2 w-1/2" >
        <h1 class="text-xl font-bold" >{% translate 'Welcome' %}, {{ request.user.username }}</h1>
        <p  class="font-light">
            {% if request.user.is_authenticated %}
                {% translate 'Your account type ' %}: {% if request.user.is_cashier %}{% translate 'Cashier' %}{% else %}{% translate 'Moderator' %}{% endif %}
            {% else %}
                {% translate 'You are not logged in' %}
            {% endif %}
        </p>
    </div>
    <div class="w-1/2" >
        
    <form  hx-post="{% url 'products:product_search' %}"
        hx-target="#product_list"
        hx-trigger="click"
        hx-swap="outerHTML" > 

        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            </div>
            {% csrf_token %}
            <input
                    name="search_text"


            type="search" id="default-search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="{% translate 'Search items' %}">
            <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-primary hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">{% translate 'Search' %}</button>
        </div>
    </form>

    </div>
</div>

<!-- end header -->