{% extends '_base.html' %}
{% load i18n %}

{% block title %} {% translate 'Stats' %} {% endblock %}


{% block content %}

<div class="m-5 flex justify-center items-center w-full gap-4">
    <div class="drop-shadow-md bg-white p-4" >
        {% if revenues_per_date_chart %}
            {{revenues_per_date_chart|safe}}
        {% endif %}
    </div>

    <div class="drop-shadow-md bg-white p-4" >
        {% if nb_of_sales_per_qt_chart  %}
            {{nb_of_sales_per_qt_chart|safe}}
        {% endif %}
    </div>
</div>

{% endblock %}